{% extends 'consultanttemplates/consultantbase.html' %}
{% load static %}
{% block active7 %}active{% endblock %}
{% block css %}


{% endblock %}
{% block body %}


<div class="theme-loader">
<div class="ball-scale">
<div class='contain'>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
<div class="ring">
<div class="frame"></div>
</div>
</div>
</div>
</div>

<!-- <div class="pcoded-content">
<div class="pcoded-inner-content"> -->

<div class="main-body">


<div class="page-header">
<div class="row align-items-end">
<div class="col-lg-8">
<div class="page-header-title">
<div class="d-inline">
<h4>Task List1</h4>
<span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="page-header-breadcrumb">
<ul class="breadcrumb-title">
<li class="breadcrumb-item">
<a href="index.html"> <i class="feather icon-home"></i> </a>
</li>
<li class="breadcrumb-item"><a href="#!">Task</a>
</li>
<li class="breadcrumb-item"><a href="#!">Task list</a>
</li>
</ul>
</div>
</div>
</div>
</div>



<div class="row">
<div class="col-sm-12">

<div class="card">
<div class="card-header col-md-10">
<h5>Task List</h5>
<button class="btn btn-out-dotted btn-info btn-square pull-right" ><a href="{% url 'cmsapp:consultanttaskcreate' %}">Add task</a></button>
</div>
<div class="card-block task-list">
<div class="table-responsive">
<table id="datatables" class="table dt-responsive task-list-table table-striped table-bordered nowrap">
<thead>
<tr>
<th>S.N.</th>
<th>Task title</th>
<th>Task Description</th>
<th>Status</th>
<th>Priority</th>
<th>Due Date</th>
<th>Assigned to</th>
<th class="text-right">Action</th>
</tr>
</thead>
<tfoot>
        <tr>
            <th>S.N.</th>
			<th>Task title</th>
			<th>Task Description</th>
			<th>Status</th>
			<th>Priority</th>
			<th>Due Date</th>
			<th>Assigned to</th>
			<th class="text-right">Action</th>
        </tr>
    </tfoot>
<tbody class="task-page">
{% for task in tasklist %}
<tr>
<td>{{forloop.counter}}</td>
<td>{{task.title}}</td>
<td>{{task.content}}</td>
<td>{{task.status}}</td>
<td>{{task.priority}}</td>
<td>{{task.due_date}}</td>
<td>{% for user in task.assigned_to.all %}
{{user.username}} 
{% endfor %}</td>
<td>
<a href="{% url 'cmsapp:consultanttaskupdate' task.id %}" class="btn btn-link btn-info btn-just-icon edit"> 
<i class="material-icons">update</i>
</a>
<!-- <a data-remote="{% url 'cmsapp:consultanttaskdelete' task.id %}" data-toggle="modal" data-target="#clinic-modal" href="{% url 'cmsapp:consultanttaskdelete' task.id %}" class="btn btn-link btn-info btn-just-icon delete">
<i class="material-icons">delete</i>
</a> -->

</td> 
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>

</div>
</div>
</div>
</div>

{% endblock %}
{% block js %}



{% endblock %}